#footer{
  width: 100vw;
  height: 220px;
  text-align: center;
  background-color:#f2f4f7;
}
#footer-center{
  display: flex;
  position: relative;
  width: 1030px;
  display: inline-block;
  margin: 0 auto;
  padding: 0 15px;
}
#footer-sub1{
  display: flex;
  position: relative;
  align-items: center;
  height: 65px;
}
#footer-sub1-notice{
  width: 330px;
  font-size: 13px;
}
#sub1-notice-title{
  width: 52px;
  font-weight: 700;
  color: #606a75;
}
#notice-text{
  width: 262px;
  height: 25px;
  text-decoration: none;
  color: #606a75;
  padding: 0 8px 0 15px;
}
#notice-text:hover{
  text-decoration: underline;
}
#footer-sub1-menuarea{
  display: flex;
  list-style: none;
  margin: 0 0 0 96px;
  padding: 0;
}
.menuarea-content{
  margin-left: 20px;
}
.menuarea-content > a{
  text-decoration: none;
  color: #606a75;
  font-size: 13px;
  font-weight: bold;
}
.menuarea-content>a:hover{
  text-decoration: underline;
}
#footer-sub2{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 154px;
  padding-bottom: 42px;
}
#footer-sub2::before{
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  content: '';
}
#footer-sub2-menuarea2{
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 34px;
  margin: 0;
}
.menuarea2-content{
  margin-left: 35px;
  color: #878e98;
  font-size: 12px;
  cursor: pointer;
}
.menuarea2-content:hover{
  text-decoration: underline;
}
#menuarea2-content1,#menuarea2-content5{
  font-weight: bold;
}
#footer-sub2-text{
  padding: 8px 0 10px;
  font-size: 12px;
  color: #8a909e;
  line-height: 17px;
  letter-spacing: -0.3px;
}
#footer-sub2-icon{
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #9399a4;
}
#sub2-icon2:hover{
  text-decoration: underline;
}