#nav{
  padding: 0;
  margin: -12px 0 0;
  display: inline-block;
  position: relative;
  width: 100vw;
  height: 156px;
  background-color: #eff2f8;
}
#nav-in{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
}
#in-div1{
  width: 240px;
  height: 132px;
  background-image: url(./이미지/nav화면요소1.png);
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#in-div1:hover, #in-div2:hover, #in-div3:hover, #in-div4:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.1);
  transition: all 350ms cubic-bezier(0.215,0.61,0.355,1);
}
#in-div2{
  width: 240px;
  height: 132px;
  background-image: url(./이미지/nav화면요소2.png);
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#in-div3{
  width: 240px;
  height: 132px;
  background-image: url(./이미지/nav화면요소3.png);
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#in-div4{
  width: 240px;
  height: 132px;
  background-image: url(./이미지/nav화면요소4.png);
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}