#wrap-center{
  position: relative;
  width: 1000px;
  display: inline-block;
  margin: 0 auto;
}
#icon-area{
  position: fixed;
  width: 45px;
  height: 45px;
  right: 35px;
  bottom: 30px;
  z-index: 10;
  border-radius: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
#icon-item{
  display: block;
  text-decoration: none;
  color: inherit;
  width: 45px;
  height: 45px;
  background-image: url(./sports_image/sp_sports.png);
  background-position: -62px -2px ;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.01);
}
#section{
  display: flex;
  position: relative;
  flex-direction: column;
}
#sub-section1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 757px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
#section1-main1{
  display: flex;
  flex-direction: column;
  width: 670px;
}
#main1-item1,#main1-item2,#main1-item3,#main1-item4,#main1-item5,#main1-item6{
  display: flex;
  width: 100%;
  height: 123px;
  padding-top: 20px;
}
#item1-video1, #item1-video2, #item1-video3, #item1-video4, #item1-video5, #item1-video6 {
  width: 160px;
  height: 95px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
}
#main1-item1:hover, #main1-item2:hover, #main1-item3:hover, #main1-item4:hover, #main1-item5:hover, #main1-item6:hover{
  > div:last-child > span:first-child{
    text-decoration: underline;
  }
}
#item1-video1{
  background-image: url(./sports_image/video요소1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
#item1-video2{
  background-image: url(./sports_image/video요소2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
#item1-video3{
  background-image: url(./sports_image/video요소3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#item1-video4{
  background-image: url(./sports_image/video요소4.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#item1-video5{
  background-image: url(./sports_image/video요소5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#item1-video6{
  background-image: url(./sports_image/video요소6.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#item1-text1, #item1-text2, #item1-text3, #item1-text4, #item1-text5, #item1-text6 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 510px;
  height: 95px;
  padding: 0 20px;
  cursor: pointer;
}
#text1-title1, #text1-title2, #text1-title3, #text1-title4, #text1-title5, #text1-title6 {
  width: 470px;
  height: 21px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
}
#text1-content1, #text1-content2, #text1-content3, #text1-content4, #text1-content5, #text1-content6 {
  width: 470px;
  height: 74px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 18px;
  color: #5e5e5e;
}
#section1-main2{
  display: flex;
  flex-direction: column;
  align-items: center;;
  width: 330px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#main2-sub1{
  display: flex;
  position: relative;
  width: 100%;
  height: 63px;
  padding: 28px 0 13px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#sub1-text1{
  width: 160px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
#sub1-text2{
  position: absolute;
  width: 21.5px;
  height: 18px;
  font-size: 11px;
  font-weight: bold;
  color: #999;
  right: 70px;
  bottom: 15px;
}
#sub1-button1,#sub1-button2{
  position: absolute;
  text-align: center;
  width: 22px;
  height: 19px;
  overflow: hidden;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
#sub1-button1{
  background-image: url(./sports_image/sp_jun_v19.png);
  right: 40px;
  background-position: -94px -828px;
}
#sub1-button2{
  background-image: url(./sports_image/sp_jun_v19.png);
  right: 20px;
  background-position: -21px -828px;
}
#main2-sub2{
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 463px;
  margin: 0 18px 0 20px;
}
#sub2-item1, #sub2-item2, #sub2-item3, #sub2-item4, #sub2-item5{
  display: flex;
  width: 290px;
  height: 92px;
  padding: 12px 0;
}
#sub2-item1-video1, #sub2-item2-video2, #sub2-item3-video3, #sub2-item4-video4, #sub2-item5-video5 {
  width: 110px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.01);
  cursor: pointer;
  border-radius: 6px;
  background-size: 100% 100%;
}
#sub2-item1-video1{
  background-image: url(./sports_image/video요소7.png);
}
#sub2-item2-video2{
  background-image: url(./sports_image/video요소8.png);
}
#sub2-item3-video3{
  background-image: url(./sports_image/video요소9.png);
}
#sub2-item4-video4{
  background-image: url(./sports_image/video요소10.png);
}
#sub2-item5-video5{
  background-image: url(./sports_image/video요소11.png);
}
#sub2-item1-text1, #sub2-item2-text2, #sub2-item3-text3, #sub2-item4-text4, #sub2-item5-text5 {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 68px;
  text-align: left;
  cursor: pointer;
  padding-left: 12px;
}
#text2-title1, #text2-title2, #text2-title3, #text2-title4, #text2-title5 {
  width: 168px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
#text2-content1, #text2-content2, #text2-content3, #text2-content4, #text2-content5 {
  width: 168px;
  height: 18px;
  font-size: 12px;
  color: #a0a4aa;
  margin-top: 8px;
}
#main2-sub3{
  display: flex;
  position: relative;
  width: 304px;
  height: 34px;
  padding: 0 12px;
  margin-top: 16px;
}
#sub3-text1, #sub3-text2{
  width: 86px;
  height: 34px;
  font-size: 16px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
#sub3-text1{
  color: #000;
}
#sub3-text2{
  color: #929294;
}
#sub3-button1,#sub3-button2{
  position: absolute;
  text-align: center;
  width: 22px;
  height: 19px;
  overflow: hidden;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  bottom: 5px;
}
#sub3-button1{
  background-image: url(./sports_image/sp_jun_v19.png);
  right: 30px;
  background-position: -94px -828px;
}
#sub3-button2{
  background-image: url(./sports_image/sp_jun_v19.png);
  right: 10px;
  background-position: -21px -828px;
}
#sub3-text3{
  position: absolute;
  width: 22px;
  height: 18px;
  font-size: 11px;
  color: #999;
  font-weight: bold;
  right: 60px;
  bottom: 6px;
}
#main2-sub4{
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 150px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.18), 0px 2px 3px rgba(0,0,0,0.04);
}
#sub4-item1{
  display: flex;
  position: relative;
  top: 10px;
  width: 288px;
  height: 80px;
  padding: 14px 16px 12px 14px;
}
#sub4-item1-video{
  width: 54px;
  height: 54px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-image: url(./sports_image/연재구독사진요소.png);
  background-size: 100% 100%;
  cursor: pointer;
}
#sub4-item1-text{
  display: flex;
  flex-direction: column;
  width: 192px;
  height: 53px;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}
#sub4-title{
  width: 192px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
#sub4-content1{
  width: 192px;
  height: 14px;
  font-size: 12px;
  margin: 3px 0 0;
  color: #767676;
}
#sub4-item2{
  display: flex;
  position: relative;
  justify-self: start;
  top: 13px;
  width: 288px;
  height: 46px;
  padding-right: 12px;
  margin-top: 10px;
  background-color: #ebf5ff;
}
#sub4-content2{
  position: absolute;
  width: 220px;
  height: 46px;
  padding-left: 14px;
  top: 8px;
  left: 15px;
  background-image: url(./sports_image/연재구독사진요소2.png);
  background-size: 65% 65%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#sub4-button2{
  position: absolute;
  width: 56px;
  height: 24px;
  border-color: #3680f7;
  color: #2b6fdc;
  border-radius: 16px;
  background-color: #fff;
  background-image: url(./sports_image/연재구독버튼.png);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: 6px 2px;
  cursor: pointer;
  right: 8px;
  top: 12px;
}
#sub-section2{
  display: block;
  position: relative;
  width: 1007px;
  height: 450px;
  text-align: left;
}
#section2-title{
  padding-top: 27px;
  margin: 0;
}
#title-title1{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
#title1-button1{
  display: inline-block;
  border: none;
  background-color: white;
  width: 6px;
  height: 15px;
  margin-left: 4px;
  background-image: url(./sports_image/sp_sports.png);
  background-size: 260px 246px;
  background-position: -185px -71px;
}
#section2-main2{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1007px;
}
.vod-item{
  width: 194px;
  margin: 15px 0 0 7px;
  padding: 0;
}
.vod-item:hover{
  > a > div:last-child{
    text-decoration: underline;
  }
}
#vod-item1,#vod-item6{
  margin-left: 0;
}
.link-vod-item{
  display: block;
  text-decoration: none;
  color: inherit;
}
.item-image{
  overflow: hidden;
  position: relative;
  width: 194px;
  height: 112px;
  border-radius: 6px;
  border: 0;
  background-size: 100% 100%;
}
.item-image::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  content: '';
  border-radius: 6px;
}
#item-image1{
 background-image: url(./sports_image/sports_video_image/image1.png); 
}
#item-image2{
 background-image: url(./sports_image/sports_video_image/image2.png); 
}
#item-image3{
  background-image: url(./sports_image/sports_video_image/image3.png); 
}
#item-image4{
  background-image: url(./sports_image/sports_video_image/image4.png); 
}
 #item-image5{
  background-image: url(./sports_image/sports_video_image/image5.png); 
}
 #item-image6{
  background-image: url(./sports_image/sports_video_image/image6.png); 
}
 #item-image7{
  background-image: url(./sports_image/sports_video_image/image7.png); 
}
 #item-image8{
  background-image: url(./sports_image/sports_video_image/image8.png); 
}
 #item-image9{
  background-image: url(./sports_image/sports_video_image/image9.png); 
}
 #item-image10{
  background-image: url(../sports_image/sports_video_image/image10.png); 
}
.item-text{
  color: #333;
  overflow-wrap: break-word;
  height: 36px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.end-line{
  display: block;
  height: 1px;
  margin: 30px auto;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
