*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
#wrap{
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#header{
  display: inline-block;
  position: relative;
  width: 100vw;
  height: 108px;
  background-color: #3763c9;;
}
#header-out{
  display: flex;
  position: relative;
  width: 1024px;
  height: 50%;
  margin: 0 auto;
  background-color: #3763c9;;
}
#out-logo-naver{
  width: 47px;
  height: auto;
  padding: 14px 9px 14px 12px;
}
#out-logo-naver > a {
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버N모양\ 이미지.png);
  width: 26px;
  height: 26px;
  left: 12px;
}

#out-logo-sports{
  width: 94px;
  height: auto;
  padding: 18px 0px 19px;
}
#out-logo-sports > a {
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버Sports모양.png);
  width: 94px;
  height: 17px;
  left: 45px;
}
#out-logo-cummunity{
  width: 72px;
  height: auto;
  padding: 18px 0px 19px;
}
#out-logo-cummunity > div{
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버스포츠\ 커뮤니티.png);
  width: 72px;
  height: 17px;
  left: 155px;
  cursor: pointer;
}
#out-logo-news{
  width: 27px;
  height: auto;
  margin: 0 8px;
  padding: 20px 0px 21px;

}
#out-logo-news > div{
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버스포츠\ 뉴스.png);
  width: 27px;
  height: 13px;
  left: 245px;
  cursor: pointer;
}
#out-logo-weather{
  width: 26px;
  height: auto;
  margin: 0 8px;
  padding: 20px 0px 21px;
  
}
#out-logo-weather > div{
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버스포츠\ 날씨.png);
  width: 26px;
  height: 13px;
  left: 290px;
  cursor: pointer;
}
#out-logo-entertain{
  width: 26px;
  height: auto;
  margin: 0 8px;
  padding: 20px 0px 21px;
  
}
#out-logo-entertain > div{
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버스포츠\ 연예.png);
  width: 26px;
  height: 13px;
  left: 335px;
  cursor: pointer;
}
#out-login{
  width: 53px;
  height: auto;
  padding: 15px 8px 15px;
}
#out-login > button{
  position: absolute;
  background-size: 100% auto;
  width: 48px;
  height: 22px;
  right: 68px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
  background-color: #3763c9;
  font-size: 11px;
  color: white;
  cursor: pointer;
}
#out-logo-hamburger{
  width: 37px;
  height: auto;
  padding: 20px 11px 19px;
}
#out-logo-hamburger > div{
  position: absolute;
  background-size: 100% auto;
  background-image: url(./sports_image/네이버스포츠\ 더보기모양.png);
  width: 15px;
  height: 15px;
  right: 32px;
  cursor: pointer;
}
#header-in{
  display: flex;
  position: relative;
  align-items: center;
  width: 1024px;
  height: 50%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #3763c9;
}
#in-logo-1,#in-logo-2,#in-logo-3,#in-logo-4,#in-logo-5,#in-logo-6,#in-logo-7,
#in-logo-8,#in-logo-9,#in-logo-10,#in-logo-11,#in-logo-12,#in-logo-13,#in-logo-14,#in-logo-15{
  height: auto;
  padding: 16px 7px 18px;
}
#in-logo-1 >div, #in-logo-2 >div, #in-logo-3 >div, #in-logo-4 >div, #in-logo-5 >div, #in-logo-6 >div, 
#in-logo-7 >div, #in-logo-8 >div, #in-logo-9 >div, #in-logo-10 >div, #in-logo-11 >div, #in-logo-12 >div, 
#in-logo-13 >div, #in-logo-14 >div, #in-logo-15 >div {
  background-size: 100% auto;
  background-repeat: no-repeat;
  cursor: pointer;
}
#in-logo-1{
  width: 87px;
}
#in-logo-1 >div{
  background-image: url(./sports_image/네이버스포츠\ 스포츠홈.png);
  width: 73px;
  height: 22px;
}
#in-logo-2{
  width: 48px;
}
#in-logo-2 >div{
  background-image: url(./sports_image/네이버스포츠\ 야구.png);
  width: 34px;
  height: 22px;

}
#in-logo-3{
  width: 82px;
}
#in-logo-3 >div{
  background-image: url(./sports_image/네이버스포츠\ 해외야구.png);
  width: 68px;
  height: 22px;
}
#in-logo-4{
  width: 48px;
}
#in-logo-4 >div{
  background-image: url(./sports_image/네이버스포츠\ 축구.png);
  width: 34px;
  height: 22px;
}
#in-logo-5{
  width: 82px;
}
#in-logo-5 >div{
  background-image: url(./sports_image/네이버스포츠\ 해외축구.png);
  width: 68px;
  height: 22px;
}
#in-logo-6{
  width: 48px;
}
#in-logo-6 >div{
  background-image: url(./sports_image/네이버스포츠\ 농구.png);
  width: 34px;
  height: 22px;
}
#in-logo-7{
  width: 48px;
}
#in-logo-7 >div{
  background-image: url(./sports_image/네이버스포츠\ 배구.png);
  width: 34px;
  height: 22px;
}
#in-logo-8{
  width: 48px;
}
#in-logo-8 >div{
  background-image: url(./sports_image/네이버스포츠\ 골프.png);
  width: 34px;
  height: 22px;
}
#in-logo-9{
  width: 48px;
  padding-top: 13px;
}
#in-logo-9 >div{
  background-image: url(./sports_image/네이버스포츠\ 일반.png);
  width: 34px;
  height: 22px;
}
#in-logo-10{
  width: 74px;
}
#in-logo-10>div{
  background-image: url(./sports_image/네이버스포츠\ e스포츠.png);
  width: 60px;
  height: 22px;
}
#in-logo-11{
  width: 82px;
  margin-left: 5px;
  padding: 16px 7px 18px 12px;
}
#in-logo-11>div{
  background-image: url(./sports_image/네이버스포츠\ 승부예측.png);
  width: 68px;
  height: 22px;
}
#in-logo-12{
  width: 48px;
  padding-top: 13px;
}
#in-logo-12>div{
  background-image: url(./sports_image/네이버스포츠\ 연재.png);
  width: 34px;
  height: 22px;
}
#in-logo-13{
  width: 104px;
}
#in-logo-13>div{
  background-image: url(./sports_image/네이버스포츠\ 오늘의\ 경기.png);
  width: 90px;
  height: 22px;
}
#in-logo-14{
  width: 48px;
}
#in-logo-14>div{
  background-image: url(./sports_image/네이버스포츠\ 랭킹.png);
  width: 34px;
  height: 22px;
}
#in-logo-15{
  width: 99px;
}
#in-logo-15>div{
  background-image: url(./sports_image/네이버스포츠\ 대학스포츠.png);
  width: 85px;
  height: 22px;
}
